<!-- view template for the Add Goal section of the main dashboard -->
<!--start-->
<div class="ui form segment">
	<div class="ui top left attached label">Add a new inspired goal!</div>
	<div class="ui hidden divider"></div>
	<div class="ui action left icon labeled input">
	  <a class="ui label">my goal</a>
	  <i class="leaf icon"></i>
	  <input ng-model="data.goal.content" type="text" placeholder="I want to..." ng-blur="require($event)" />
	</div>
	<div class="ui hidden divider"></div>
	<div class="field">
		<div class="ui action left icon labeled input">
		  <a class="ui label">deadline</a>
		  <i class="calendar icon"></i>
		  <input ng-model="data.goal.endDate" type="text" class="datepicker" placeholder="I want to accomplish this by..." ng-blur="require($event)" />
		</div>
	</div>
	<div class="ui hidden divider"></div>
	<div class="ui center label">Remind me:</div>
	<div class="ui left teal buttons">
		<div ng-click="freqToggle('daily')" ng-class="{'active': data.goal.freq.daily}" class="ui button">Once a day</div>
		<div ng-click="freqToggle('weekly')" ng-class="{'active': data.goal.freq.weekly}" class="ui button">Once a week</div>
		<div ng-click="freqToggle('monthly')" ng-class="{'active': data.goal.freq.monthly}" class="ui button">Once a month</div>
	</div>
	<div class="ui hidden divider"></div>
	<div ui-view="reasons"></div>
</div>
<div class="ui dimmer add-success">
  <div class="content">
    <div class="center">
      <h2 class="ui inverted icon header">
        <i class="child icon"></i>
        Goal Saved!
      </h2>
    </div>
  </div>
</div>
<!--end-->