<!--start-->
<div class="ui form segment">
	<div class="ui top left attached label">Add a new inspired goal!</div>
	<div class="ui hidden divider"></div>
	<div class="ui action left icon input">
	  <i class="leaf icon"></i>
	  <input type="text" placeholder="My goal is to...">
	</div>
	<div class="ui hidden divider"></div>
	<div class="field">
		<div class="ui action left icon input">
		  <i class="calendar icon"></i>
		  <input type="text" class="datepicker" placeholder="I want to accomplish this by...">
		</div>
	</div>
	<div class="ui hidden divider"></div>
	<div class="ui left buttons">
		<div class="label">Remind me:</div>
		<div class="ui active button">Once a day</div>
		<div class="ui button">Once a week</div>
		<div class="ui button">Once a month</div>
	</div>
	<div class="field">
		<div class="ui action left icon input">
			<i class="music icon"></i>
			<label>Text Area</label>
			<textarea placeholder="Now tell us why"></textarea>
		</div>
	</div>
	<div class="extra">
	    <div class="ui teal button">
	      Let's Rock!
	      <i class="right chevron icon"></i>
	    </div>
	</div>
</div>
<!--end-->