<div class="ui segment">
	<div class="row">
		<h1 class="ui icon header">
		  <i class="leaf icon"></i>
		  <div class="content">
		    Login
		    <div class="sub header">to make your goals reality</div>
		  </div>
		</h2>
	</div>
	<div class="row">
		<div class="ui left icon input">
			<input type="email" ng-model="email" placeholder="Enter your email...">
			<i class="mail icon"></i>	
		</div>
	</div>
	<div class="ui hidden divider"></div>
	<div class="row">
		<div class="ui left icon input">
			<input type="password" ng-model="password" placeholder="Enter your password...">
			<i class="lock icon"></i>
		</div>
	</div>
	<div class="ui hidden divider"></div>
	<div class="row">
		<div class="ui right labeled teal icon button" ng-click="login()">
		  <i class="right arrow icon"></i>
		  Login
		</div>
	</div>
	<p></p>
	<p></p>
	<div>
	  <a href= '/#/signup'> Go to signup page </a>
	</div>
</div>