<div>
    <script src='https://platform.venmo.com/sdk.js'></script>

<a href="https://api.venmo.com/v1/oauth/authorize?client_id=2195&scope=make_payments%20access_profile%20access_friends"> Allow Venmo to incentivise me to stick to my goals </a>
<a class="venmo-pay-button" data-recipient-id="1397129314566144218" data-amount='5.00'/>
</div>

<!---To dos 

On click, show button with payment amount
add payment number as a data field to goal
if there is a payment in there, schedule payment on server sid



-->
