<!-- template for adding goal inspiration -->
<div class="ui field segment">
	<div class="ui top attached large label">my inspiration</div>
	<div class="ui action left icon input">
		<i class="music icon"></i>
		<textarea class="inspiration" ng-model="currentWhy" placeholder="Now tell us why! What makes this a goal worth acheiving for you?" ng-blur="require($event)"></textarea>
	</div>
</div>
<div class="extra">
	<div id="skipButton" ng-click="createGoal()" class="ui small button" ng-show="showSkipButton">
		Skip this
	</div>
    <div id="sendButton" ng-click="addReasonAndPrompt()" class="ui teal button">
      Let's Rock!
      <i class="right chevron icon"></i>
    </div>
</div>