<div class="ui segment">
	<div class="row">
		<h1 class="ui icon header">
		  <i class="idea icon"></i>
		  <div class="content">
		    Sign Up
		    <div class="sub header">to make your goals reality</div>
		  </div>
		</h2>
	</div>
	<div class="row">
		<div class="ui left icon input">
			<input type="name" ng-model="name" placeholder="Enter your name...">
			<i class="user icon"></i>	
		</div>
	</div>
	<div class="ui hidden divider"></div>
	<div class="row">
		<div class="ui left icon input">
			<input type="email" ng-model="email" placeholder="Enter your email...">
			<i class="mail icon"></i>	
		</div>
	</div>
	<div class="ui hidden divider"></div>
	<div class="row">
		<div class="ui left icon input">
			<input type="password" ng-model="password" placeholder="Enter your password...">
			<i class="lock icon"></i>
		</div>
	</div>
	<div class="ui hidden divider"></div>
	<div class="row">
		<div class="ui right labeled teal icon button" ng-click="signup()">
		  <i class="right arrow icon"></i>
		  Sign Up
		</div>
	</div>
</div>