<!-- nav -->
<nav class="ui fixed menu inverted navbar">
   <a sref="home" class="brand item">selfinspi.red</a>
   <a sref="addGoalState" class="active item">Add</a>
   <a sref="goalsListState" class="item">Goals</a>
   <a sref="completedListState" class="item">Completed</a>

   <a class="ui right dropdown item">User Menu
     <i class="dropdown icon"></i>
     <div class="menu">
       <div class="item">Settings</div>
       <div class="ui horizontal divider"></div>
       <div class="item">Signout</div>
     </div>
   </a>
</nav> 
<!-- end nav -->